<div class="col-md-9">
  <div id="map"></div>
</div>
<div class="col-md-3">
  <h4>Recent Sightings</h4>
  <% @sightings.each do |sighting| %>
    <%= simple_format sighting.body %>
    <p class="small"><%= sighting.category.name %> reported by <%= sighting.trainer.name %> on <%= sighting.created_at.to_s(:long) %></p>
  <% end %>
</div>
